/******************** BASIC STYLING ********************/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/* Variables for colors */

:root {
	--primary: linear-gradient(to top left, #8e0895 0%, #3d0569 100%);
	--text-color-light: rgb(255, 255, 255);
	--text-color-dark: rgb(0, 0, 0);
	--app: linear-gradient(to bottom left, #919191 0%, #5a5a5a 100%);
	--primary-app: linear-gradient(to bottom left, #919191 0%, #5a5a5a 100%);
	--shadow: rgb(180, 180, 180);
}

/* Resets for universal default styling, makes it easier to do own styling*/

input,
button,
form {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
	text-decoration: none;
	line-height: normal;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	background-clip: text;
	transition: background-color 9999s ease-in-out 0s;
}

/* Hide scrollbar */

body {
	overflow-y: scroll;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
	display: none;
}

/* Shadows for text */

.text-shadow {
	text-shadow: 1px 1px 2px var(--shadow);
}

/* Background for website elements */

nav,
.footer {
	background: var(--primary);
}

/********** BASIC MAIN STYLING **********/

.basic-container {
	width: 60%;
	margin-bottom: 10vh;
}

.center,
.center h3 {
	margin-left: auto !important;
	margin-right: auto !important;
}

.center-text {
	text-align: center;
}
/******************** NAVIGATION STYLING ********************/

nav,
.nav-links {
	display: flex;
}

.logo h4,
.nav-links a {
	color: var(--text-color-light);
	text-transform: uppercase;
}

nav {
	justify-content: center;
	align-items: center;
	min-height: 7vh;
	position: fixed;
	width: 100%;
	top: 0;
}
.logo h4 {
	letter-spacing: 3px;
	font-size: 1.25rem;
	margin: 0;
	font-weight: 200;
}
.logo {
	min-width: 8rem;
	margin-left: 2rem;
	position: absolute;
	left: 5rem;
}
.nav-links {
	justify-content: space-around;
	min-width: 30%;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
}
.nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 0.8rem;
	font-weight: 300;
	margin: 0.8rem;
	position: relative;
}

.nav-links a::before,
.burger div {
	background: var(--text-color-light);
}

.nav-links a::before {
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	top: -0.35em;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	transition: all ease-in-out 250ms;
	opacity: 0.1;
}
.nav-links a:hover::before {
	transform: scale(1, 1);
	opacity: 0.9;
}
.nav-links a:hover {
	text-shadow: 2px 2px 3px var(--shadow);
	transition: all 0.2s ease-in-out;
}
.burger {
	display: none;
	cursor: pointer;
}
.burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1600px) {
	nav {
		justify-content: space-around;
	}
	.logo {
		position: static;
	}
}
@media screen and (max-width: 1250px) {
	body {
		overflow-x: hidden;
	}
	.nav-links a {
		font-size: 0.8rem;
		margin: 8px 0px 0px 8px !important;
		align-items: center;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 93vh;
		top: 7vh;
		background: var(--primary);
		flex-direction: column;
		padding-left: 7vw;
		padding-right: 7vw;
		justify-content: flex-start;
	}
	.nav-links li {
		opacity: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.burger {
		display: block;
		position: absolute;
		right: 10px;
	}
	.nav-active {
		transform: translateX(0%);
		transition: transform 0.5s ease-in;
	}
	.nav-inactive {
		transform: translateX(100%);
		transition: transform 0.5s ease-out;
	}
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
.x-mark .line1 {
	transform: rotate(135deg) translate(5px, -7px);
}
.x-mark .line2 {
	opacity: 0;
}
.x-mark .line3 {
	transform: rotate(45deg) translate(-4px, -6px);
}

/******************** MAIN HEADER STYLING ********************/

.x-header h3,
.g-header h3 {
	font-size: 1.6em;
	margin: 9vh 0 0.5em 0;
	text-align: center;
	font-weight: 900;
	border-bottom: 2px solid var(--text-color-dark);
	padding-bottom: 0.2em;
	width: 50%;
	line-height: 1;
}

.x-header h3 {
	margin: 9vh 0 0.5em 0;
	width: 50%;
	line-height: 1;
}
.x-header span {
	font-weight: 100;
}

.g-header h3 {
	border-bottom: 2px solid var(--text-color-dark);
	font-size: 1.6em;
	font-weight: 900;
	margin: 0.5em 0 0.5em 0;
	text-align: center;
	padding-bottom: 0.2em;
	width: 50%;
}

/******************** FOOTER STYLING ********************/
.footer {
	height: 2rem;
	position: fixed;
	width: 100%;
	bottom: 0;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	display: flex;
}
main {
	padding-bottom: 30px;
	padding-top: 7vh;
}
.footer-text {
	color: var(--text-color-light);
	font-size: 10px;
	text-align: center;
	font-weight: 100;
	margin: 0;
	line-height: normal;
}

/********** INDEX PAGE **********/

.main-index {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 1em;
	grid-template-areas:
		'indextxt1 indextxt2 indextxt3'
		'index1 index2 index3';
}

.index-container img {
	width: 100%;
	border-radius: 5px;
}

.index-photo1 {
	grid-area: index1;
}
.index-photo2 {
	grid-area: index2;
}
.index-photo3 {
	grid-area: index3;
}
.index-text1 {
	grid-area: indextxt1;
}
.index-text2 {
	grid-area: indextxt2;
}
.index-text3 {
	grid-area: indextxt3;
}

.main-index a {
	color: rgb(41, 0, 79);
	font-weight: 600;
	text-decoration: none;
	position: absolute;
	display: block;
}
.main-index a:hover {
	font-weight: 900;
	text-shadow: 1px 1px var(--shadow);
}
.main-index a::before {
	content: '';
	display: block;
	height: 2px;
	background: var(--primary);
	position: absolute;
	bottom: -0.35em;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	transition: all ease-in-out 275ms;
	opacity: 0.2;
}
.main-index a:hover::before {
	transform: scale(1, 1);
	opacity: 0.9;
}

.index-container p {
	font-size: 0.885em;
}
.index-container h5 {
	font-size: 1.1em;
}
@media only screen and (max-width: 1078px) {
	.main-index {
		grid-template-columns: repeat(4, 1fr);
		gap: 2em;
		grid-template-areas:
			'indextxt1 indextxt1 index1 index1 '
			'indextxt2 indextxt2 index2 index2 '
			'indextxt3 indextxt3 index3 index3 ';
	}
	.index-container p {
		font-size: 0.875em;
	}
	.index-container h5 {
		font-size: 1.08em;
	}
}
@media only screen and (max-width: 828px) {
	.main-index {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
			'indextxt1'
			'index1'
			'indextxt2'
			'index2'
			'indextxt3'
			'index3';
	}
	.index-container p {
		font-size: 0.865em;
	}
	.index-container h5 {
		font-size: 1.06em;
	}
	.index-container img {
		width: 75%;
	}
	.main-index {
		text-align: center;
	}
}
/********** BIKES PAGE **********/

.main-bike {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 1em;
	grid-template-areas:
		'bike1 bike2 bike3'
		'biketxt1 biketxt2 biketxt3';
}

.bike-container img {
	width: 100%;
	border-radius: 5px;
}

.bike-container p {
	font-size: 1em;
}
.bike-container h5 {
	font-size: 1.12em;
}
.bike-photo1 {
	grid-area: bike1;
}
.bike-photo2 {
	grid-area: bike2;
}
.bike-photo3 {
	grid-area: bike3;
}
.bike-text1 {
	grid-area: biketxt1;
}
.bike-text2 {
	grid-area: biketxt2;
}
.bike-text3 {
	grid-area: biketxt3;
}

@media only screen and (max-width: 1078px) {
	.main-bike {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 2em;
		grid-template-areas:
			'bike1 bike1 biketxt1 biketxt1'
			'bike2 bike2  biketxt2 biketxt2'
			'bike3 bike3 biketxt3 biketxt3';
	}
	.bike-container p {
		font-size: 0.875em;
	}
	.bike-container h5 {
		font-size: 1.1em;
	}
}
@media only screen and (max-width: 828px) {
	.main-bike {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
			'bike1'
			'biketxt1'
			'bike2'
			'biketxt2'
			'bike3'
			'biketxt3';
	}
	.bike-container p {
		font-size: 0.865em;
	}
	.bike-container img {
		width: 75%;
	}
	.main-bike {
		text-align: center;
	}
	.bike-container h5 {
		font-size: 1.08em;
	}
}

/********** NATURE GALLERY **********/

.img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.img-container .box {
	display: flex;
	flex-wrap: wrap;
}
.img-container .box .photos {
	margin: 0.2em;
	flex: 48%;
}
.img-container .box .photos img {
	width: 100%;
	border-radius: 0.3em;
}
@media only screen and (max-width: 600px) {
	.img-container .box .photos {
		flex: 100%;
	}
}

@media only screen and (min-width: 1024px) {
	.img-container .box .photos {
		flex: 23%;
	}
}

/******************** ABOUT ME PAGE ********************/

.main-about {
	display: grid;
	grid-gap: 2em;
	padding-top: 1em;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'ab1 ab2 ab3'
		'abtxt1 abtxt1 abtxt1'
		'abtxt2 abtxt2 abtxt2';
}

.ab-container img {
	width: 100%;
	border-radius: 5px;
}
.ab-container p {
	font-size: 2vh;
}
.ab-photo1 {
	grid-area: ab1;
}
.ab-photo2 {
	grid-area: ab2;
}
.ab-photo3 {
	grid-area: ab3;
}
.ab-text1 {
	grid-area: abtxt1;
}
.ab-text2 {
	grid-area: abtxt2;
}

@media only screen and (max-width: 1024px) {
	.main-about {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			'ab1 abtxt1 abtxt1'
			'abtxt2 abtxt2 ab2';
	}
	.ab-photo3 {
		display: none;
	}
	.ab-container p {
		font-size: 0.875em;
	}
}
@media only screen and (max-width: 828px) {
	.main-about {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
			'ab1'
			'abtxt1'
			'abtxt2';
	}
	.ab-photo2 {
		display: none;
	}
	.ab-photo3 {
		display: none;
	}
	.ab-container p {
		font-size: 0.85em;
	}
	.ab-container img {
		width: 75%;
	}
	.main-about {
		text-align: center;
	}
}

/******************** CONTACT PAGE, NEW MESSAGE, AJAX MESSAGE PAGE STYLING ********************/

.form-container {
	border: solid 2px var(--text-color-dark);
	max-width: 669px;
	border-radius: 5px;
}
.email {
	width: 100%;
}
.message {
	float: none;
}
.name {
	float: left;
	width: 45%;
}
.underline {
	margin: -0.5em auto;
	width: 80px;
}
.subject {
	width: 100%;
}
.telephone {
	width: 45%;
	float: right;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

label {
	display: block !important;
}

button,
input,
select,
textarea {
	color: var(--text-color-dark);
	font: inherit;
	margin: 0;
}

input {
	line-height: normal;
}

textarea {
	overflow: auto;
}

form {
	padding: 37.5px;
}

input[type='text'],
[type='email'],
select,
textarea {
	background: none;
	border: none;
	border-bottom: solid 2px var(--text-color-dark);
	color: var(--text-color-dark);
	font-size: 0.7em !important;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0em 0 1.5em 0 !important;
	padding: 0 0 0.5em 0 !important;
	text-transform: uppercase;
	width: 100%;
	transition: all 0.3s;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
	outline: none;
	padding: 0 0 0.5em 0 !important;
}

textarea {
	line-height: normal;
	height: 150px;
	resize: none;
}

#form_button {
	background: none;
	border: solid 2px var(--text-color-dark);
	border-radius: 5px;
	color: var(--text-color-dark);
	cursor: pointer;
	display: inline-block;
	font-size: 0.7em;
	font-weight: bold;
	outline: none;
	padding: 20px 35px;
	text-transform: uppercase;
	transition: all 0.3s;
}

#form_button:hover {
	background: var(--primary);
	color: var(--text-color-light);
}
@media screen and (max-width: 680px) {
	.form-container {
		max-width: 660px;
		width: 85%;
	}
}
@media screen and (max-width: 480px) {
	.form-container {
		max-width: 460px;
		width: 90%;
	}
	.underline {
		width: 68px;
	}
	#form_button {
		padding: 15px 25px;
	}
}

@media screen and (max-width: 420px) {
	.form-container {
		min-width: 380px;
		max-width: 400px;
		width: 95%;
	}
	.underline {
		width: 53px;
	}

	input[type='text'],
	[type='email'],
	select,
	textarea {
		font-size: 0.875em;
	}
}

/******************** GUESTBOOK PAGE STYLING ********************/

.guestbook {
	border: solid 2px var(--text-color-dark);
	border-radius: 5px;
	max-width: 669px;
	margin-bottom: 10vh;
	padding: 1rem;
}

.guestbook-table {
	padding: 1rem;
}

.g-header h3 {
	border-bottom: 2px solid var(--text-color-dark);
	font-size: 1.6em;
	font-weight: 900;
	margin: 0.5em 0 0.5em 0;
	text-align: center;
	padding-bottom: 0.2em;
	width: 50%;
}

.message-cell {
	max-width: 300px; /* Adjust the maximum width as needed */
	word-wrap: break-word;
}

/********** WEATHER APP STYLING **********/

/* Universal styling for body */

.header-1,
.header-3,
.paragraph {
	margin-left: 0.3rem;
}

.header-1 {
	font-size: 1rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	font-weight: 100;
}

.header-3 {
	font-size: 0.9rem;
	font-weight: 100;
}

.paragraph {
	font-size: 0.65rem;
}

/* Container styling */

.wa-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 30%;
	padding: 1rem;
	min-width: 300px;
	max-width: 620px;
	background: var(--primary-app);
	border-radius: 25px;
	color: var(--text-color-light);
	margin-bottom: 3rem;
	box-shadow: 0 6px 6px var(--shadow);
}

/**************
/* Button & Input field styling */

.form-style,
.button-style,
.input-style {
	padding: 0.2rem;
	color: var(--text-color-light);
	display: flex;
}

.input-style,
.input-style:-webkit-autofill,
.input-style:-webkit-autofill:hover,
.input-style:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--text-color-light);
	border: none !important;
	transition: background-color 9999s ease-in-out 0s;
}

.input-style::placeholder {
	color: var(--text-color-light);
	opacity: 0.5;
}

.input-style[type='text'],
select,
textarea {
	margin: 0.25em 0 0.25em 0;
	padding: 0 0 0.5em 0;
	text-transform: uppercase;
}

#city {
	font-size: 0.75rem;
	margin-left: 1.35rem;
	color: var(--text-color-light) !important;
}
.button-style {
	cursor: pointer;
}

.button-style #submit {
	margin-right: 0.4rem;
}

.input-style:hover,
.button-style:hover {
	opacity: 0.5;
}

.button-style:active {
	opacity: 0.3;
}

.search {
	display: flex;
}

/* Current weather styling */

.current {
	display: flex;
	text-align: left;
	justify-content: center;
	align-items: center;
}

.temp #temp .paragraph {
	font-size: 3rem;
	margin-left: 2rem;
}

#check24,
#check72 {
	display: inline !important;
	color: var(--text-color-light);
}

#check24:hover,
#check72:hover {
	opacity: 0.5;
}

/* Adding margin between sections */

#location,
#forecast {
	margin-top: 1rem;
}

/* Styling the right div & forecast section */

.forecastWidth {
	width: 60%;
}

.forecastMinWidth {
	min-width: 600px;
}

.forecastDisplay {
	display: flex !important;
}

.right {
	display: none;
	font-size: 0.7rem;
}

.right .header-3 {
	text-align: center;
	margin-bottom: 1rem;
}

.right ul li {
	list-style: none;
	text-align: justify;
}

.right div {
	display: flex;
	align-items: center;
}

.forecastImg {
	margin-left: 0.25rem;
}

/* Responsiveness */

@media only screen and (max-width: 620px) {
	.container {
		flex-direction: column;
		align-items: center;
		width: 90%;
		min-width: 300px;
	}

	.right div {
		justify-content: center;
	}
	.right {
		margin-top: 1rem;
		font-size: 0.7rem;
	}
	.search {
		justify-content: center;
	}
}
